.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



nav{
  position:fixed;
  top:0;
  left:0;
  right:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 20px 10px 6px;
  background: #232326;
}

.logo{
  display:inline-block;
  width:40px;
  height:40px;
}

.menu-item{
  display:inline-block;
  margin-left:15px;
  margin-top: 10px;
  font-weight:400;
  color:#808080;
}

@media screen and (max-width: 540px) {
  .content{
      width: 100%;
      margin: 10px auto;
      padding: 20px;
      text-align: center;
      
  }
}


@media screen and (min-width: 540px) and (max-width: 780px) {
  .content{
      width: 80%;
      margin: 10px auto;
      padding: 20px;
      text-align: center;
      
  }
}

@media screen and (min-width: 780px)  {
  .content{
      width: 50%;
      margin: 10px auto;
      padding: 20px;
      text-align: center;
      
  }
}


